<header class="header site-header" role="banner">
  <div class="ui grid">
    <div class="computer tablet only row">
      <div class="ui inverted fixed menu navbar page grid">
        <h1 class="item">Nikhil Thota</h1>
        <div class="right menu">
          <a href="/" class="item">Home</a>
          <a href="/projects" class="item">Projects</a>
          <a href="" class="item">Experience</a>
          <a href="" class="item">Education</a>
          <a href="" class="item">About</a>
        </div>
      </div>
    </div>
    <div class="mobile only row">
      <div class="ui fixed inverted navbar menu">
        <h1 class="item">Nikhil Thota</h1>
        <div class="right menu open">
          <a href="" class="menu item">
            <i class="reorder icon"></i>
          </a>
        </div>
      </div>
      <div class="ui vertical navbar menu">
        <a href="/" class="item">Home</a>
        <a href="/projects" class="item">Projects</a>
        <a href="" class="item">Experience</a>
        <a href="" class="item">Education</a>
        <a href="" class="item">About</a>
      </div>
    </div>
  </div>
</header>
