/* home.html */

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
}

h1.item{
  font-size: 23px;
  margin-bottom: 0;
}

a.item::before{
  background: : #FFFFFF;
}
.masthead.segment {
  min-height: 100vh;
}

.masthead .ui.menu {
  margin-left: 0.5em;
}
.ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 2.4em;
  margin-bottom: 0em;
  font-size: 3.5em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.4em;
  font-weight: normal;
}

.mobile.row{
  padding-top: 0px !important;
  margin-top: 0px !important;
}

.mobile.row .ui.inverted.menu{
  border-radius: 0px !important;
}

.padding-reset{
  padding: 0px !important;
}

.ui.message{
  padding: 40px !important;
}

@media (max-width: 767px) {
  .ui.grid.main{
    margin-top: 90px;
}
.ui.vertical.menu.navbar{
    margin-top: 90px !important;
  }
}

.ui.vertical.menu{
  margin-top: 25px !important;
  width: 100%;
  display: none;
}

/* end home.html */
