---
layout: default
---

<div class="projects inverted" style="background-color: rgba(27,28,29,1);">
  <div class="ui container inverted vertical mastheadproj center aligned segment">
    <div class=" ui segment inverted">
      <img class="ui small circular image centered" src="/assets/images/nikhilpic.jpg" style="margin-top: 65px;">
      <h1 class="ui inverted header">Other Interests</h1>
      <div class = "ui three column grid stackable">
        <div class=" column">
          <h2 class="ui header inverted">Music</h2>
          <p>I have been playing the bassoon for nine years now and am currently a music performance minor at UF.
            <a target="_blank" href="https://youtu.be/9wbnYnIzeqI">Here</a> you can see a video of me playing one of my favorite pieces,
            Weber's Bassoon Concerto.</p>
          <p>Music has always been a huge passion of <a target="_blank" href="https://open.spotify.com/user/1245029147">mine</a> and I am
            currently learning how to play the Ukulele and become a better singer to become a world renowned singer-songwrite-software-engineer.
            Here is a <a target="_blank" href="https://genius.com/Takashi-wickes-nikhil-thota-views-from-the-swamp-lyrics">rap track</a> I helped write/produce for SwampHacks</p>
        </div>
        <div class=" column">
          <h2 class="ui header inverted">Outdoors</h2>
          <p>I love the outdoors and am a huge fan of hiking, climbing, and anything with a lot of trees. Check out all
            the adventures I've been on with UF's Outdoor Adventure Recreation club <a target="_blank" href="https://ufadventure.com/index.php?type=user&command=displayProfile&data=userId=10293">here</a>.</p>
          <p>I also love photographing the outdoors, a few pictures of which you can check out at my
            <a target="_blank" href="https://www.instagram.com/nikhil.o.neal/">Instagram</a>.</p>
        </div>
        <div class=" column">
          <h2 class="ui header inverted">Everything under the sun</h2>
          <p>Outside of tech, I love working on random projects with my friends. Before starting my internship with Drawbridge during Summer 2017,
            my friend and I roadtripped across the country over the course of 3 weeks. In this time, we interviewed random people along the way and
            compiled all of their stories and lessons into a <a target="_blank" href="http://tunapastapodcast.org">Podcast</a>.</p>
        </div>
      </div>
      <h1 class="ui inverted header">Contact Me</h1>
      <form class = "ui form inverted" id="contact-form" role="form">
				<div class="ajax-hidden">
					<div class="field">
						<label class="inverted" for="c_name">Name</label>
						<input type="text" id="c_name" class="form-control" name="c_name" placeholder="Name">
					</div>

					<div class="field">
						<label class="inverted" for="c_email">Email</label>
						<input type="email" id="c_email" class="form-control" name="c_email" placeholder="E-mail">
					</div>

					<div class="field">
						<textarea class="form-control" id="c_message" name="c_message" rows="7" placeholder="Message"></textarea>
					</div>

					<button id="submitbutton" class="ui button inverted" type="submit">Send Message</button>
				</div>
				<div class="ajax-response inverted" id="response-text"></div>
			</form>
    </div>
  </div>
</div>
