---
layout: default
---
<div class="blog inverted" style="background-color: rgba(27,28,29,1);">
  <div class="ui container inverted vertical mastheadproj center aligned segment grid">
    <h1 class="ui header inverted"></h1>
    <div class=" ui segment inverted row" style="padding-top: 0px; margin-top: 0px;">
      <div class="peek sidebar visible five wide column">
        <h6></h6>
        <div class="ui tertiary segment inverted" style="background:#4C4C4C">
          <h3 class="inverted">Featured</h3>
          <p>Filler text about the featured blog post</p>
          <a class ="white" href="#">Read More →</a>
        </div>
      </div>
      <div class = "ui one stackable special cards dark eleven wide column">
        {% assign posts = site.blog | reverse %}
        {% for post in posts %}
        <div class="card dark">
          <div class="blurring dimmable image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <a href="{{ post.url | prepend: site.baseurl }}">
                    <div class="ui inverted button">Read More</div>
                  </div>
                </a>
              </div>
            </div>
            <img src="{{ site.baseurl }}/assets/images/{{ post.image }}">
          </div>
          <div class="content">
            <a class="header" href="{{ post.siteURL }}" target="_blank">{{ post.title}}</a>
            <div class="meta">
              <span class="date">{{ post.role }}</span>
            </div>
            <div class="list">
              {{ post.brief }}
            </div>
          </div>
          <div class="ui divider inverted"></div>
          <div class="extra content">
            <div>
              <i class="calendar outline icon"></i>
              {{ post.start }} → {{ post.end }}
            </div>
          </div>
        </div>
        <h1></h1>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script>
  $('.special.cards .image').dimmer({
    on: 'hover'
  });
</script>
