---
layout: default
---

<div class="education inverted" style="background-color: rgba(27,28,29,1);">
  <div class="ui container inverted vertical mastheadproj center aligned segment">
    <div class="ui segment inverted">
      <h1 class="ui header">Education</h1>
      <div class="ui divider inverted"></div>
      <div class="ui divided items dark">
        {% assign schools = site.education | reverse %}
        {% for school in schools %}
        <div class = "item dark">
          <div class = "image">
            <img src="{{site.baseurl}}/assets/images/{{school.image}}">
          </div>
          <div class="content">
            <div class="header">
              {{school.title}}
            </div>
            <div class="meta">
              <span>{{school.start}} - {{school.end}}</span>
              {%if school.gpa %}
              <span>GPA: {{school.gpa}}</span>
              {% endif %}
            </div>
            <div class="description">
              <p>{{school.brief}}</p>
            </div>
          </div>
        </div>
        <div class="ui divider inverted"></div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
