---
layout: default
---

<div class="main">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
      <h1 class="ui inverted header">
        Hi! I'm Nikhil
      </h1>
      <h2>I am studying Computer Science at the University of Florida</h2>
      <h2>Currently I am <span style="font-style:italic;">finishing up school</span></h2>
      <h2>Check out my...</h2>
      <div class="ui three column stackable grid">
        <div class="five column centered row" style="padding-top: 35px;">
          <div class="column">
            <a href = "nikhilthota.pdf" target="_blank">
              <div class="ui huge inverted button">
                Resume
              </div>
            </a>
          </div>
          <div class="column">
            <a href = "https://linkedin.com/in/{{site.linkedin_username}}" target="_blank">
              <div class="ui huge inverted button">
                LinkedIn
              </div>
            </a>
          </div>
          <div class="column">
            <a href = "https://github.com/{{site.github_username}}" target="_blank">
              <div class="ui huge inverted button">
                Github
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
